#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
.site-layout .site-layout-background {
  background: #fff;
  position: relative;
}
.Layout-Sider {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.hederIcon {
  height: 30px;
  line-height: 30px;
  width: 30px;
  padding: 15px;
  position: absolute;
  right: 50px;
  top: 0;
  font-size: 30px;
}
